// Columns
$data-table-cols: 100;

// Table's border
$data-table-border-color: $black;
$data-table-border: 1px solid $data-table-border-color;

// Toolbar
$data-table-toolbar-color-active: $white;
$data-table-toolbar-active: $black;
$data-table-toolbar-page-color: o;