RewriteEngine On

# Si no es un directorio y no es un archivo existente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Redirigir a "null.php" si el archivo solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ null.php [L]