@keyframes shake-icon {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.20);
    }
    75% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}