@keyframes table-error-icon {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.75;
    }
    50% {
        scale: 1.5;
    }
    75% {
        scale: 1.75;
    }
    100% {
        scale: 1;
    }
}